@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .row0 {
    position: relative;
    display: flex;
    margin-left: 50px;
    margin-top: 7px;
    width: 274px;
    height: 19px
  }
  .style2,
  .style3 {
    margin-top: 2px;
    flex-shrink: 0
  }
  .style3 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .1875em;
    letter-spacing: 1px;
    margin-left: 0;
    height: 2px
  }
  .style2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 9px;
    width: 3px;
    height: 3px
  }
  .style4,
  .style8 {
    margin-left: 13px;
    width: 6px;
    height: 6px;
    flex-shrink: 0
  }
  .style8 {
    position: relative;
    margin-left: 124px;
    margin-top: 1px;
    width: 27px;
    height: 19px
  }
  .style5,
  .style7 {
    margin-left: 86px;
    margin-top: 2px;
    width: 3px;
    height: 2px;
    flex-shrink: 0
  }
  .style5 {
    margin-left: 12px;
    margin-top: 1px;
    height: 3px
  }
  .style6 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .1875em;
    letter-spacing: 1px;
    margin-left: 8px;
    margin-top: 2px;
    height: 2px;
    flex-shrink: 0
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihojhf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 375px;
    height: 169px;
    flex-direction: column
  }
  .style50 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .25em;
    letter-spacing: 1px;
    margin-top: 19px;
    height: 3px;
    align-self: center
  }
  .image0row1 {
    display: flex;
    margin-left: 85px;
    margin-top: 33px;
    width: 239px;
    height: 46px
  }
  .style1,
  .style10 {
    color: #fff;
    text-align: center;
    letter-spacing: 1px
  }
  .style1 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    align-self: stretch;
    font-family: 'Playfair Display',serif;
    font-size: 1.1875em;
    margin-left: 0;
    height: 100%
  }
  .style10 {
    font-family: captureit,serif;
    font-size: 0;
    margin-left: 31px;
    margin-top: 5px;
    height: 30px
  }
  .style9 {
    margin-left: 321px;
    margin-top: 0;
    width: 4px;
    height: 10px
  }
  .style11 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .25em;
    letter-spacing: 1px;
    margin-top: 17px;
    height: 3px;
    align-self: center
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihokvo.png);
    margin-left: 106px;
    margin-top: 17px;
    width: 164px;
    height: 141px;
    align-items: center;
    justify-content: center
  }
  .style13,
  .style14,
  .style15 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style14 {
    align-items: center;
    justify-content: center;
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol06.png);
    border-left: 2px solid #7ce5fd;
    border-right: 2px solid #7ce5fd;
    border-top: 2px solid #7ce5fd;
    border-bottom: 2px solid #7ce5fd;
    width: 155px;
    height: 104px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol3j.png);
    border-left: 1px solid #7ce5fd;
    border-right: 1px solid #7ce5fd;
    border-top: 1px solid #7ce5fd;
    border-bottom: 1px solid #7ce5fd;
    width: 141px;
    height: 90px
  }
  .style16,
  .style17 {
    text-align: center;
    letter-spacing: 1px
  }
  .style17 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 6px;
    height: 10px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 2em;
    margin-top: 18px
  }
  .style16 {
    color: #000;
    font-family: captureit,serif;
    font-size: .25em;
    margin-top: 9px;
    width: 127px;
    align-self: center
  }
  .style18 {
    font-family: 'Playfair Display',serif;
    font-size: -1.9375em;
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 119px;
    margin-top: 9px;
    height: 10px
  }
  .style18,
  .style35,
  .style36 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 1px
  }
  .style35 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 1.1875em;
    margin-left: 69px;
    margin-top: 24px;
    height: 21px
  }
  .style36 {
    font-family: honeymoon,serif;
    font-size: 3.375em;
    margin-left: 139px;
    margin-top: 10px;
    height: 20px
  }
  .row5 {
    display: flex;
    margin-left: 51px;
    margin-top: 14px;
    width: 274px;
    height: 100px;
    align-items: stretch;
    justify-content: space-between
  }
  .style29,
  .style31,
  .style33 {
    width: 74px
  }
  .row6 {
    display: flex;
    margin-left: 59px;
    margin-top: 15px;
    width: 256px;
    height: 18px;
    align-items: stretch;
    justify-content: space-between
  }
  .style30,
  .style32,
  .style34 {
    color: #fe816d;
    text-align: center;
    font-family: captureit,serif;
    font-size: .25em;
    letter-spacing: 1px
  }
  .row7 {
    display: flex;
    margin-left: 79px;
    margin-top: 10px;
    width: 221px;
    height: 3px;
    align-items: stretch
  }
  .style37,
  .style38 {
    margin-left: 0;
    width: 3px
  }
  .style37 {
    margin-left: 12px
  }
  .style39,
  .style40 {
    margin-left: 82px;
    width: 3px
  }
  .style39 {
    margin-left: 12px
  }
  .style41,
  .style42 {
    margin-left: 85px;
    width: 3px
  }
  .style41 {
    margin-left: 12px
  }
  .style43,
  .style44 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 1px
  }
  .style43 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 1.1875em;
    margin-left: 81px;
    margin-top: 29px;
    height: 19px
  }
  .style44 {
    font-family: honeymoon,serif;
    font-size: 3.375em;
    margin-left: 139px;
    margin-top: 12px;
    height: 20px
  }
  .row10 {
    display: flex;
    margin-left: 47px;
    margin-top: 15px;
    width: 277px;
    height: 99px;
    align-items: center
  }
  .style48 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 0;
    width: 5px;
    height: 8px
  }
  .style45,
  .style46,
  .style47 {
    margin-left: 0;
    width: 74px;
    height: 100%
  }
  .style46,
  .style47 {
    margin-left: 26px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihon9g.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style49 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 72px;
    width: 4px;
    height: 6px;
    flex-shrink: 0
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiholm9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .1;
    display: flex;
    margin-left: 0;
    margin-top: 26px;
    width: 375px;
    height: 47px;
    flex-direction: column
  }
  .image13row0 {
    display: flex;
    margin-left: 177px;
    margin-top: 22px;
    width: 92px;
    height: 3px;
    align-items: stretch
  }
  .style22,
  .style26 {
    color: #fff;
    font-family: captureit,serif;
    font-size: .25em;
    letter-spacing: 1px;
    margin-left: 0
  }
  .style22 {
    color: #fe816d;
    margin-left: 53px
  }
  .image13row1 {
    display: flex;
    margin-left: 91px;
    margin-top: 6px;
    width: 144px;
    height: 1px;
    align-items: stretch
  }
  .style23,
  .style24,
  .style25 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 0;
    width: 49px
  }
  .style23 {
    width: 48px
  }
  .style27 {
    color: #c2c2c2;
    font-family: captureit,serif;
    font-size: .25em;
    letter-spacing: 1px;
    margin-left: 109px;
    margin-top: 16px;
    height: 3px
  }
  .style28 {
    margin-left: 174px;
    margin-top: 14px;
    width: 27px;
    height: 19px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .row0 {
    position: relative;
    display: flex;
    margin-left: 102px;
    margin-top: 14px;
    width: 561px;
    height: 39px
  }
  .style2,
  .style3 {
    margin-top: 4px;
    flex-shrink: 0
  }
  .style3 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .384em;
    letter-spacing: 2px;
    margin-left: 0;
    height: 4px
  }
  .style2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 18px;
    width: 6px;
    height: 6px
  }
  .style4,
  .style8 {
    margin-left: 27px;
    width: 12px;
    height: 12px;
    flex-shrink: 0
  }
  .style8 {
    position: relative;
    margin-left: 254px;
    margin-top: 2px;
    width: 55px;
    height: 39px
  }
  .style5,
  .style7 {
    margin-left: 176px;
    margin-top: 4px;
    width: 6px;
    height: 4px;
    flex-shrink: 0
  }
  .style5 {
    margin-left: 25px;
    margin-top: 2px;
    height: 6px
  }
  .style6 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .384em;
    letter-spacing: 2px;
    margin-left: 16px;
    margin-top: 4px;
    height: 4px;
    flex-shrink: 0
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihojhf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 768px;
    height: 346px;
    flex-direction: column
  }
  .style50 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .512em;
    letter-spacing: 2px;
    margin-top: 39px;
    height: 6px;
    align-self: center
  }
  .image0row1 {
    display: flex;
    margin-left: 174px;
    margin-top: 68px;
    width: 489px;
    height: 94px
  }
  .style1,
  .style10 {
    color: #fff;
    text-align: center;
    letter-spacing: 2px
  }
  .style1 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    align-self: stretch;
    font-family: 'Playfair Display',serif;
    font-size: 2.432em;
    margin-left: 0;
    height: 100%
  }
  .style10 {
    font-family: captureit,serif;
    font-size: 0;
    margin-left: 63px;
    margin-top: 10px;
    height: 61px
  }
  .style9 {
    margin-left: 657px;
    margin-top: 0;
    width: 8px;
    height: 20px
  }
  .style11 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .512em;
    letter-spacing: 2px;
    margin-top: 35px;
    height: 6px;
    align-self: center
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihokvo.png);
    margin-left: 217px;
    margin-top: 35px;
    width: 336px;
    height: 289px;
    align-items: center;
    justify-content: center
  }
  .style13,
  .style14,
  .style15 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style14 {
    align-items: center;
    justify-content: center;
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol06.png);
    border-left: 2px solid #7ce5fd;
    border-right: 2px solid #7ce5fd;
    border-top: 2px solid #7ce5fd;
    border-bottom: 2px solid #7ce5fd;
    width: 317px;
    height: 213px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol3j.png);
    border-left: 1px solid #7ce5fd;
    border-right: 1px solid #7ce5fd;
    border-top: 1px solid #7ce5fd;
    border-bottom: 1px solid #7ce5fd;
    width: 289px;
    height: 184px
  }
  .style16,
  .style17 {
    text-align: center;
    letter-spacing: 2px
  }
  .style17 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 12px;
    height: 20px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 4.096em;
    margin-top: 37px
  }
  .style16 {
    color: #000;
    font-family: captureit,serif;
    font-size: .512em;
    margin-top: 18px;
    width: 260px;
    align-self: center
  }
  .style18 {
    font-family: 'Playfair Display',serif;
    font-size: -3.968em;
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 244px;
    margin-top: 18px;
    height: 20px
  }
  .style18,
  .style35,
  .style36 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 2px
  }
  .style35 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 2.432em;
    margin-left: 141px;
    margin-top: 49px;
    height: 43px
  }
  .style36 {
    font-family: honeymoon,serif;
    font-size: 6.912em;
    margin-left: 285px;
    margin-top: 20px;
    height: 41px
  }
  .row5 {
    display: flex;
    margin-left: 104px;
    margin-top: 29px;
    width: 561px;
    height: 205px;
    align-items: stretch;
    justify-content: space-between
  }
  .style29,
  .style31,
  .style33 {
    width: 152px
  }
  .row6 {
    display: flex;
    margin-left: 121px;
    margin-top: 31px;
    width: 524px;
    height: 37px;
    align-items: stretch;
    justify-content: space-between
  }
  .style30,
  .style32,
  .style34 {
    color: #fe816d;
    text-align: center;
    font-family: captureit,serif;
    font-size: .512em;
    letter-spacing: 2px
  }
  .row7 {
    display: flex;
    margin-left: 162px;
    margin-top: 20px;
    width: 453px;
    height: 6px;
    align-items: stretch
  }
  .style37,
  .style38 {
    margin-left: 0;
    width: 6px
  }
  .style37 {
    margin-left: 25px
  }
  .style39,
  .style40 {
    margin-left: 168px;
    width: 6px
  }
  .style39 {
    margin-left: 25px
  }
  .style41,
  .style42 {
    margin-left: 174px;
    width: 6px
  }
  .style41 {
    margin-left: 25px
  }
  .style43,
  .style44 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 2px
  }
  .style43 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 2.432em;
    margin-left: 166px;
    margin-top: 59px;
    height: 39px
  }
  .style44 {
    font-family: honeymoon,serif;
    font-size: 6.912em;
    margin-left: 285px;
    margin-top: 25px;
    height: 41px
  }
  .row10 {
    display: flex;
    margin-left: 96px;
    margin-top: 31px;
    width: 567px;
    height: 203px;
    align-items: center
  }
  .style48 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 0;
    width: 10px;
    height: 16px
  }
  .style45,
  .style46,
  .style47 {
    margin-left: 0;
    width: 152px;
    height: 100%
  }
  .style46,
  .style47 {
    margin-left: 53px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihon9g.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style49 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 147px;
    width: 8px;
    height: 12px;
    flex-shrink: 0
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiholm9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .1;
    display: flex;
    margin-left: 0;
    margin-top: 53px;
    width: 768px;
    height: 96px;
    flex-direction: column
  }
  .image13row0 {
    display: flex;
    margin-left: 362px;
    margin-top: 45px;
    width: 188px;
    height: 6px;
    align-items: stretch
  }
  .style22,
  .style26 {
    color: #fff;
    font-family: captureit,serif;
    font-size: .512em;
    letter-spacing: 2px;
    margin-left: 0
  }
  .style22 {
    color: #fe816d;
    margin-left: 109px
  }
  .image13row1 {
    display: flex;
    margin-left: 186px;
    margin-top: 12px;
    width: 295px;
    height: 2px;
    align-items: stretch
  }
  .style23,
  .style24,
  .style25 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 0;
    width: 100px
  }
  .style23 {
    width: 98px
  }
  .style27 {
    color: #c2c2c2;
    font-family: captureit,serif;
    font-size: .512em;
    letter-spacing: 2px;
    margin-left: 223px;
    margin-top: 33px;
    height: 6px
  }
  .style28 {
    margin-left: 356px;
    margin-top: 29px;
    width: 55px;
    height: 39px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .row0 {
    position: relative;
    display: flex;
    margin-left: 123px;
    margin-top: 17px;
    width: 672px;
    height: 47px
  }
  .style2,
  .style3 {
    margin-top: 5px;
    flex-shrink: 0
  }
  .style3 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .45999999999999996em;
    letter-spacing: 2px;
    margin-left: 0;
    height: 5px
  }
  .style2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 22px;
    width: 7px;
    height: 7px
  }
  .style4,
  .style8 {
    margin-left: 32px;
    width: 15px;
    height: 15px;
    flex-shrink: 0
  }
  .style8 {
    position: relative;
    margin-left: 304px;
    margin-top: 2px;
    width: 66px;
    height: 47px
  }
  .style5,
  .style7 {
    margin-left: 211px;
    margin-top: 5px;
    width: 7px;
    height: 5px;
    flex-shrink: 0
  }
  .style5 {
    margin-left: 29px;
    margin-top: 2px;
    height: 7px
  }
  .style6 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .45999999999999996em;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 5px;
    height: 5px;
    flex-shrink: 0
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihojhf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 920px;
    height: 415px;
    flex-direction: column
  }
  .style50 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    letter-spacing: 2px;
    margin-top: 47px;
    height: 7px;
    align-self: center
  }
  .image0row1 {
    display: flex;
    margin-left: 209px;
    margin-top: 81px;
    width: 586px;
    height: 113px
  }
  .style1,
  .style10 {
    color: #fff;
    text-align: center;
    letter-spacing: 2px
  }
  .style1 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    align-self: stretch;
    font-family: 'Playfair Display',serif;
    font-size: 2.913333333333333em;
    margin-left: 0;
    height: 100%
  }
  .style10 {
    font-family: captureit,serif;
    font-size: 0;
    margin-left: 76px;
    margin-top: 12px;
    height: 74px
  }
  .style9 {
    margin-left: 788px;
    margin-top: 0;
    width: 10px;
    height: 25px
  }
  .style11 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    letter-spacing: 2px;
    margin-top: 42px;
    height: 7px;
    align-self: center
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihokvo.png);
    margin-left: 260px;
    margin-top: 42px;
    width: 402px;
    height: 346px;
    align-items: center;
    justify-content: center
  }
  .style13,
  .style14,
  .style15 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style14 {
    align-items: center;
    justify-content: center;
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol06.png);
    border-left: 2px solid #7ce5fd;
    border-right: 2px solid #7ce5fd;
    border-top: 2px solid #7ce5fd;
    border-bottom: 2px solid #7ce5fd;
    width: 380px;
    height: 255px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol3j.png);
    border-left: 1px solid #7ce5fd;
    border-right: 1px solid #7ce5fd;
    border-top: 1px solid #7ce5fd;
    border-bottom: 1px solid #7ce5fd;
    width: 346px;
    height: 221px
  }
  .style16,
  .style17 {
    text-align: center;
    letter-spacing: 2px
  }
  .style17 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 15px;
    height: 25px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 4.906666666666666em;
    margin-top: 44px
  }
  .style16 {
    color: #000;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    margin-top: 22px;
    width: 312px;
    align-self: center
  }
  .style18 {
    font-family: 'Playfair Display',serif;
    font-size: -4.753333333333333em;
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 292px;
    margin-top: 22px;
    height: 25px
  }
  .style18,
  .style35,
  .style36 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 2px
  }
  .style35 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 2.913333333333333em;
    margin-left: 169px;
    margin-top: 59px;
    height: 52px
  }
  .style36 {
    font-family: honeymoon,serif;
    font-size: 8.28em;
    margin-left: 341px;
    margin-top: 25px;
    height: 49px
  }
  .row5 {
    display: flex;
    margin-left: 125px;
    margin-top: 34px;
    width: 672px;
    height: 245px;
    align-items: stretch;
    justify-content: space-between
  }
  .style29,
  .style31,
  .style33 {
    width: 182px
  }
  .row6 {
    display: flex;
    margin-left: 145px;
    margin-top: 37px;
    width: 628px;
    height: 44px;
    align-items: stretch;
    justify-content: space-between
  }
  .style30,
  .style32,
  .style34 {
    color: #fe816d;
    text-align: center;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    letter-spacing: 2px
  }
  .row7 {
    display: flex;
    margin-left: 194px;
    margin-top: 25px;
    width: 542px;
    height: 7px;
    align-items: stretch
  }
  .style37,
  .style38 {
    margin-left: 0;
    width: 7px
  }
  .style37 {
    margin-left: 29px
  }
  .style39,
  .style40 {
    margin-left: 201px;
    width: 7px
  }
  .style39 {
    margin-left: 29px
  }
  .style41,
  .style42 {
    margin-left: 209px;
    width: 7px
  }
  .style41 {
    margin-left: 29px
  }
  .style43,
  .style44 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 2px
  }
  .style43 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 2.913333333333333em;
    margin-left: 199px;
    margin-top: 71px;
    height: 47px
  }
  .style44 {
    font-family: honeymoon,serif;
    font-size: 8.28em;
    margin-left: 341px;
    margin-top: 29px;
    height: 49px
  }
  .row10 {
    display: flex;
    margin-left: 115px;
    margin-top: 37px;
    width: 680px;
    height: 243px;
    align-items: center
  }
  .style48 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 0;
    width: 12px;
    height: 20px
  }
  .style45,
  .style46,
  .style47 {
    margin-left: 0;
    width: 182px;
    height: 100%
  }
  .style46,
  .style47 {
    margin-left: 64px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihon9g.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style49 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 177px;
    width: 10px;
    height: 15px;
    flex-shrink: 0
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiholm9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .1;
    display: flex;
    margin-left: 0;
    margin-top: 64px;
    width: 920px;
    height: 115px;
    flex-direction: column
  }
  .image13row0 {
    display: flex;
    margin-left: 434px;
    margin-top: 54px;
    width: 226px;
    height: 7px;
    align-items: stretch
  }
  .style22,
  .style26 {
    color: #fff;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    letter-spacing: 2px;
    margin-left: 0
  }
  .style22 {
    color: #fe816d;
    margin-left: 130px
  }
  .image13row1 {
    display: flex;
    margin-left: 223px;
    margin-top: 15px;
    width: 353px;
    height: 2px;
    align-items: stretch
  }
  .style23,
  .style24,
  .style25 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 0;
    width: 120px
  }
  .style23 {
    width: 118px
  }
  .style27 {
    color: #c2c2c2;
    font-family: captureit,serif;
    font-size: .6133333333333333em;
    letter-spacing: 2px;
    margin-left: 267px;
    margin-top: 39px;
    height: 7px
  }
  .style28 {
    margin-left: 427px;
    margin-top: 34px;
    width: 66px;
    height: 47px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .row0 {
    position: relative;
    display: flex;
    margin-left: 160px;
    margin-top: 22px;
    width: 877px;
    height: 61px
  }
  .style2,
  .style3 {
    margin-top: 6px;
    flex-shrink: 0
  }
  .style3 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .6000000000000001em;
    letter-spacing: 3px;
    margin-left: 0;
    height: 6px
  }
  .style2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 29px;
    width: 10px;
    height: 10px
  }
  .style4,
  .style8 {
    margin-left: 42px;
    width: 19px;
    height: 19px;
    flex-shrink: 0
  }
  .style8 {
    position: relative;
    margin-left: 397px;
    margin-top: 3px;
    width: 86px;
    height: 61px
  }
  .style5,
  .style7 {
    margin-left: 275px;
    margin-top: 6px;
    width: 10px;
    height: 6px;
    flex-shrink: 0
  }
  .style5 {
    margin-left: 38px;
    margin-top: 3px;
    height: 10px
  }
  .style6 {
    color: #c2c2c2;
    text-align: center;
    font-family: captureit,serif;
    font-size: .6000000000000001em;
    letter-spacing: 3px;
    margin-left: 26px;
    margin-top: 6px;
    height: 6px;
    flex-shrink: 0
  }
  .style0 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihojhf.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    margin-left: 0;
    margin-top: 0;
    width: 1200px;
    height: 541px;
    flex-direction: column
  }
  .style50 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .8em;
    letter-spacing: 3px;
    margin-top: 61px;
    height: 10px;
    align-self: center
  }
  .image0row1 {
    display: flex;
    margin-left: 272px;
    margin-top: 106px;
    width: 765px;
    height: 147px
  }
  .style1,
  .style10 {
    color: #fff;
    text-align: center;
    letter-spacing: 3px
  }
  .style1 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    align-self: stretch;
    font-family: 'Playfair Display',serif;
    font-size: 3.8000000000000003em;
    margin-left: 0;
    height: 100%
  }
  .style10 {
    font-family: captureit,serif;
    font-size: 0;
    margin-left: 99px;
    margin-top: 16px;
    height: 96px
  }
  .style9 {
    margin-left: 1027px;
    margin-top: 0;
    width: 13px;
    height: 32px
  }
  .style11 {
    color: #fff;
    text-align: center;
    font-family: captureit,serif;
    font-size: .8em;
    letter-spacing: 3px;
    margin-top: 54px;
    height: 10px;
    align-self: center
  }
  .style13 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihokvo.png);
    margin-left: 339px;
    margin-top: 54px;
    width: 525px;
    height: 451px;
    align-items: center;
    justify-content: center
  }
  .style13,
  .style14,
  .style15 {
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    display: flex;
    flex-direction: column
  }
  .style14 {
    align-items: center;
    justify-content: center;
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol06.png);
    border-left: 2px solid #7ce5fd;
    border-right: 2px solid #7ce5fd;
    border-top: 2px solid #7ce5fd;
    border-bottom: 2px solid #7ce5fd;
    width: 496px;
    height: 333px
  }
  .style15 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihol3j.png);
    border-left: 1px solid #7ce5fd;
    border-right: 1px solid #7ce5fd;
    border-top: 1px solid #7ce5fd;
    border-bottom: 1px solid #7ce5fd;
    width: 451px;
    height: 288px
  }
  .style16,
  .style17 {
    text-align: center;
    letter-spacing: 3px
  }
  .style17 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 19px;
    height: 32px;
    color: #fff;
    font-family: 'Playfair Display',serif;
    font-size: 6.4em;
    margin-top: 58px
  }
  .style16 {
    color: #000;
    font-family: captureit,serif;
    font-size: .8em;
    margin-top: 29px;
    width: 406px;
    align-self: center
  }
  .style18 {
    font-family: 'Playfair Display',serif;
    font-size: -6.2em;
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    margin-left: 381px;
    margin-top: 29px;
    height: 32px
  }
  .style18,
  .style35,
  .style36 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 3px
  }
  .style35 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 3.8000000000000003em;
    margin-left: 221px;
    margin-top: 77px;
    height: 67px
  }
  .style36 {
    font-family: honeymoon,serif;
    font-size: 10.8em;
    margin-left: 445px;
    margin-top: 32px;
    height: 64px
  }
  .row5 {
    display: flex;
    margin-left: 163px;
    margin-top: 45px;
    width: 877px;
    height: 320px;
    align-items: stretch;
    justify-content: space-between
  }
  .style29,
  .style31,
  .style33 {
    width: 237px
  }
  .row6 {
    display: flex;
    margin-left: 189px;
    margin-top: 48px;
    width: 819px;
    height: 58px;
    align-items: stretch;
    justify-content: space-between
  }
  .style30,
  .style32,
  .style34 {
    color: #fe816d;
    text-align: center;
    font-family: captureit,serif;
    font-size: .8em;
    letter-spacing: 3px
  }
  .row7 {
    display: flex;
    margin-left: 253px;
    margin-top: 32px;
    width: 707px;
    height: 10px;
    align-items: stretch
  }
  .style37,
  .style38 {
    margin-left: 0;
    width: 10px
  }
  .style37 {
    margin-left: 38px
  }
  .style39,
  .style40 {
    margin-left: 262px;
    width: 10px
  }
  .style39 {
    margin-left: 38px
  }
  .style41,
  .style42 {
    margin-left: 272px;
    width: 10px
  }
  .style41 {
    margin-left: 38px
  }
  .style43,
  .style44 {
    color: #fe816d;
    text-align: center;
    letter-spacing: 3px
  }
  .style43 {
    font-weight: 700;
    text-shadow: 0 0 19px rgba(1,2,2,.25);
    font-family: 'Playfair Display',serif;
    font-size: 3.8000000000000003em;
    margin-left: 259px;
    margin-top: 93px;
    height: 61px
  }
  .style44 {
    font-family: honeymoon,serif;
    font-size: 10.8em;
    margin-left: 445px;
    margin-top: 38px;
    height: 64px
  }
  .row10 {
    display: flex;
    margin-left: 150px;
    margin-top: 48px;
    width: 886px;
    height: 317px;
    align-items: center
  }
  .style48 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 0;
    width: 16px;
    height: 26px
  }
  .style45,
  .style46,
  .style47 {
    margin-left: 0;
    width: 237px;
    height: 100%
  }
  .style46,
  .style47 {
    margin-left: 83px
  }
  .style47 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjihon9g.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center
  }
  .style49 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    position: relative;
    margin-left: 230px;
    width: 13px;
    height: 19px;
    flex-shrink: 0
  }
  .style21 {
    background-image: url(https://designresources.assets.yotako.io/40599ugjjiholm9.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    opacity: .1;
    display: flex;
    margin-left: 0;
    margin-top: 83px;
    width: 1200px;
    height: 150px;
    flex-direction: column
  }
  .image13row0 {
    display: flex;
    margin-left: 566px;
    margin-top: 70px;
    width: 294px;
    height: 10px;
    align-items: stretch
  }
  .style22,
  .style26 {
    color: #fff;
    font-family: captureit,serif;
    font-size: .8em;
    letter-spacing: 3px;
    margin-left: 0
  }
  .style22 {
    color: #fe816d;
    margin-left: 170px
  }
  .image13row1 {
    display: flex;
    margin-left: 291px;
    margin-top: 19px;
    width: 461px;
    height: 3px;
    align-items: stretch
  }
  .style23,
  .style24,
  .style25 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-left: 0;
    width: 157px
  }
  .style23 {
    width: 154px
  }
  .style27 {
    color: #c2c2c2;
    font-family: captureit,serif;
    font-size: .8em;
    letter-spacing: 3px;
    margin-left: 349px;
    margin-top: 51px;
    height: 10px
  }
  .style28 {
    margin-left: 557px;
    margin-top: 45px;
    width: 86px;
    height: 61px
  }
}